.section.welcome
    section.hero.is-fullheight
        .pattern
        .hero-body
            .container
                .columns.is-desktop
                    .column.is-8.is-offset-2
                        h2.title.is-2
                            | Добро пожаловать в Бухарест
                        h3.subtitle.is-4
                            | Гид по дешёвому городу
                        .content
                            p
                                | Бухарест - как много в этом звуке для сердца русского слилось. На самом деле не так уж и много. Здесь были Кутузов и Толстой, но оба свалили. Но мы вас приглашаем, ибо здесь дешёво (относительно Европы). Давайте кутить!
                            .content
                                p
                                    strong Доступно на:
                                p
                                    a(href='index.html', target='_self') English
                                    =" "
                                    strong Русский
                                p
                                    strong Currency:
                                p.moneys
                                    a.rates.EUR EUR
                                    =" "
                                    a.rates.USD USD
                                    =" "
                                    a.rates.GBP GPB
                                    =" "
                                    a.rates.CZK CZK
                                    =" "
                                    a.rates.CHF CHF
                                    =" "
                                    a.rates.PLN PLN
                                    =" "
                                    a.rates.RUB RUB
                                    =" "
                                    a.rates.SEK SEK
                                    =" "
                                    a.rates.NOK NOK
                                    =" "
                                    a.rates.DKK DKK
                                .container.is-hidden-tablet.has-text-centered
                                    span.icon.is-medium.movedown
                                        a
                                            i.fa.fa-chevron-down
        .hero-foot
            .container.is-hidden-mobile
                p Scroll down!
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
