.section.credits
    section.hero.is-fullheight
        .pattern
        .hero-head
            .container.is-hidden-mobile
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .container
                .columns
                    .column.is-8.is-offset-2
                        .content
                            h3.subtitle.is-4
                                | Немного об авторах:
                            p
                                | Сайт сделан
                                =" "
                                a(href='http://www.sergeypoliakov.com') Сергеем Поляковым
                                |  (дизайн, код, идея) и Юлией Клинг (редактирование) при помощи Paul Alexandru (текст про такси) и Citinerary Bucharest Team. Мы стараемся обновлять цены по мере возможности, но если они внезапно изменились - не вините нас. За курсы валют отвечает
                                =" "
                                a(href='http://fixer.io/') fixer.io
                                | .
                            p
                                | Не меняйте деньги на улице, делайте это в банке - так безопаснее. Если на сайте что-то не работает, пишите нам. Хостер -
                                =" "
                                a(href='https://github.com/polyakusha/bucharestcity') GitHub
                                | .
