extends head
block title
    title Добро пожаловать в Бухарест
block script
    script.
        var saint = {
            welcome: 0,
            parliament: 55,
            taxi: 10,
            covrigul: 1,
            metro: 5,
            primaverii: 45,
            shaorma: 11,
            filarmonica: 30,
            espresso: 6,
            constanta: 100,
            credits: 0
        };
