.section.welcome
    section.hero.is-fullheight
        .pattern
        .hero-body
            .container
                .columns.is-desktop
                    .column.is-8.is-offset-2
                        h2.title.is-2
                            | Welcome to Bucharest
                        h3.subtitle.is-4
                            | Guide for awesome and cheap city
                        .content
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi, asperiores atque blanditiis consectetur delectus, doloremque doloribus eligendi, est eum fugiat harum necessitatibus officiis quisquam ratione rem repellat tempore! Maxime!
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores, autem commodi, consectetur culpa dolor dolore illum mollitia officia, placeat suscipit veritatis! Aliquid corporis eum excepturi expedita fugiat fugit voluptas.
                            .content
                                p
                                    strong Available in:
                                p
                                    strong English
                                    =" "
                                    a(href='index.html', target='_self') Русский
                                p
                                    strong Currency:
                                p.moneys
                                    a.rates.EUR EUR
                                    =" "
                                    a.rates.USD USD
                                    =" "
                                    a.rates.GBP GPB
                                    =" "
                                    a.rates.CZK CZK
                                    =" "
                                    a.rates.CHF CHF
                                    =" "
                                    a.rates.PLN PLN
                                    =" "
                                    a.rates.RUB RUB
                                    =" "
                                    a.rates.SEK SEK
                                    =" "
                                    a.rates.NOK NOK
                                    =" "
                                    a.rates.DKK DKK
                                .container.is-hidden-tablet.has-text-centered
                                    span.icon.is-medium.movedown
                                        a
                                            i.fa.fa-chevron-down
        .hero-foot
            .container.is-hidden-mobile
                p Scroll down!
                span.icon.is-medium.movedown
                    a
                        i.fa.fa-chevron-down
