.section.credits
    section.hero.is-fullheight
        .pattern
        .hero-head
            .container.is-hidden-mobile
                span.icon.is-medium.moveup
                    a
                        i.fa.fa-chevron-up
        .hero-body
            .container
                .columns
                    .column.is-8.is-offset-2
                        .content
                            h3.subtitle.is-4
                                | Credits:
                            p
                                | Made by
                                =" "
                                a(href='http://www.sergeypoliakov.com') Sergey Poliakov
                                |  (design, programming, idea) and Julia Kling (text, translate) with help of Paul Alexandru (text about taxi) and Citinerary Bucharest Team. We do our best to keep the prices here up to date, but don't blame us if they change suddenly. For currency rates is responsible
                                =" "
                                a(href='http://fixer.io/') fixer.io
                                | .
                            p
                                | Be aware to not change money on the street, go to a bank, it's safer. If something doesn't work on this website, don't hesitate to contact us. Hosted on
                                =" "
                                a(href='https://github.com/polyakusha/saintp') GitHub
                                | .
