extends head
block title
    title Welcome to Bucharest
block script
    script.
        var saint = {
            welcome: 0,
            metro: 35,
            hermitage: 600,
            taxi: 250,
            boattrip: 700,
            pyshka: 13,
            isaak: 150,
            swanlake: 1000,
            peterhof: 700,
            moscow: 1200,
            credits: 0
        };
