html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.content  {
    text-align: justify;
}

.hero {
    background: rgba(95, 119, 139, 0.15)
}

.pattern {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    position: absolute;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.section {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*.pricetag {*/
    /*background-image: url('../img/paper.jpg');*/
    /*box-shadow: 0 3px 20px rgba(0, 0, 0, 0.26), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);*/
/*}*/

/*todo: сделать самому фотографии всех нужных мест*/

.welcome {
    background-image: url('../img/main.jpg');
}

.hermitage {
    background-image: url('../img/hermitage.jpg');
}

.boattrip {
    background-image: url('../img/boattrip.jpg');
}

.pyshka {
    background-image: url('../img/donut.jpg');
}

.isaak {
    background-image: url('../img/isaak.jpg');
}

.peterhof {
    background-image: url('../img/peterhof.jpg');
}

.taxi {
    background-image: url('../img/taxi.jpg');
}


.metro {
    background-image: url('../img/metro.jpg');
}

.swanlake {
    background-image: url('../img/swanlake.jpg');
}

.moscow {
    background-image: url('../img/moscow.jpg');
}

.credits {
    background-image: url('../img/credits.jpg');
}

.title,
.subtitle,
.hero-foot,
.hero-head {
    font-family: 'Kurale', serif;
    color: #FFCAC8;
}

h2, h3 .title,
.subtitle {
    text-align: left;
}

.hero-foot,
.hero-head {
    text-align: center;
}

.currency {
    text-align: justify;
}

.moneyblock {
    text-align: center;
}

.moneynow,
.langnow {
    color: #5f778b;
    font-weight: 700;
}

.underlined {
    text-decoration: underline;
}

.content a:not(.button) {
    border: none;
}

