html {
    -webkit-font-smoothing: subpixel-antialiased;
}

.content  {
    text-align: justify;
}

.hero {
    background: rgba(95, 119, 139, 0.15)
}

.section {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.pattern {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    position: absolute;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

/*.pricetag {*/
    /*background-image: url('../img/paper.jpg');*/
    /*box-shadow: 0 3px 20px rgba(0, 0, 0, 0.26), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);*/
/*}*/

/*todo: сделать самому фотографии всех нужных мест*/

.welcome {
    background-image: url('../img/main.jpg');
}

.parliament {
    background-image: url('../img/parliament.jpg');
}

.taxi {
    background-image: url('../img/taxi.jpg');
}

.covrigul {
    background-image: url('../img/covrigul.jpg');
}

.metro {
    background-image: url('../img/metro.jpg');
}

.primaverii{
    background-image: url('../img/primaverii.jpg');
}

.shaorma {
    background-image: url('../img/shaorma.jpg');
}

.filarmonica {
    background-image: url('../img/filarmonica.jpg');
}

.espresso {
    background-image: url('../img/espresso.jpg');
}

.constanta {
    background-image: url('../img/constanta.jpg');
}


.title,
.subtitle,
.hero-foot,
.hero-head {
    font-family: 'Kurale', serif;
    color: #FFCAC8;
}

h2, h3 .title,
.subtitle {
    text-align: left;
}

.hero-foot,
.hero-head {
    text-align: center;
}

.currency {
    text-align: justify;
}

.moneyblock {
    text-align: center;
}

.moneynow,
.langnow {
    color: #5f778b;
    font-weight: 700;
}

.underlined {
    text-decoration: underline;
}

.content a:not(.button) {
    border: none;
}

