doctype
html(lang='ru')
include includes/russian/main-head
body
    #fullpage
        include includes/russian/firstsection
        include includes/russian/card-layout
        include includes/russian/lastsection
